# 依赖
/node_modules
/.pnp
.pnp.*

# 测试与产物
/coverage
/dist/
/test-results/
/playwright-report/

# 环境与密钥
.env*
*.pem
*.key

# 调试日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 系统
.DS_Store

# 构建缓存
*.tsbuildinfo
.build/
/app/globals.built.css
